body {
  margin: 0;
}

#imgs {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

img {
  width: 300px;
  margin: 30px;
  height: auto;
}
